



  ion-toolbar{
    --background :rgb(246, 250, 8);
}
ion-input{
  --placeholder-color:blue; 
  // --placeholder-font-weight:bold;
  
}
a{
    cursor: pointer;
}

ion-grid {
  width:100%;
  height: 100%;
  background: rgb(246, 246, 246);
}


ion-title{
  text-align: center;
}


ion-button {
 text-align: center; 
  width:40%; 
  margin-left: 10px;                                                                                                     
}
ion-card-subtitle{
  float: right;
}



