<ion-header>
  <ion-toolbar>
    <ion-title>
      <b>Home</b>
    </ion-title>
    <ion-icon name="notifications" style="color:red;margin-left:350px;font-size:20px;font-weight:bold;"></ion-icon>

  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-searchbar></ion-searchbar>
  <ion-slides #mySlider (ionSlidesDidLoad)="slidesDidLoad(mySlider)" autoplay="5000" loop="true" speed="60000"
    pager="true">
    <ion-slide *ngFor="let banners of slideData">
      <img src={{banners.image}}>
    </ion-slide>
  </ion-slides>

  <ion-card-title>
    <h3>Movies</h3>
  </ion-card-title>
  <ion-row>
    <ion-col size="4" *ngFor="let movie of list">
      <img style="height:150px;width:100%" src="{{ movie.image_url }}" (click)="onSelect(movie)" />
    </ion-col>
  </ion-row>

  <ion-card-title>
    <h3>Collections</h3>
  </ion-card-title>

  <ion-card>
    <ion-item>
      <ion-img src="../../assets/c2.jpg"></ion-img>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-img src="../../assets/c1.jpg"></ion-img>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-img src="../../assets/a6.jpg"></ion-img>
    </ion-item>
  </ion-card>

</ion-content>