ion-toolbar{
  --background :rgb(246, 250, 8);
}
ion-title{
text-align: center;
}
ion-icon{
margin-left: 320px;
color: red;
font-size: 25px;
}
ion-button {
text-align: center;
width:40%;
margin-left: 20px;                                                                                                      
}

@media (min-width: 240px) and (max-width: 768px) {

ion-col {
    border: none;
}
}

