ion-toolbar{
    --background :rgb(246, 250, 8);
}

ion-segment-button{
  padding: 5px;
}


ion-title{
  text-align: center;
}

ion-button{
  color: black;
}


ion-label{
  color:black;
}
ion-button{
  color:blue;
}



