<ion-header>
  <ion-toolbar>
    <ion-title>
      Bookings
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
 

<ion-segment>
  <ion-segment-button>
    <ion-label>Completed</ion-label>
    </ion-segment-button>
  <ion-segment-button checked>
    <ion-label (click)="onCancelled()">Cancelled</ion-label>
  </ion-segment-button>
  
</ion-segment>
    <ion-card *ngFor="let book of list">
        <ion-item>
       <ion-label> Movie:{{ book.movie_name}}<br>
        City:{{ book.city}}<br>
      Theatre:{{book.theatre}}<br>
    Amount:{{book.amount}}<br>
    Screen:{{book.screen}}
    </ion-label>
    </ion-item>
      </ion-card>

</ion-content>
