ion-toolbar{
    --background :rgb(246, 250, 8);
}
ion-input{
  --placeholder-color:blue; 
  
}
ion-segment-button{
  padding: 5px;
}


ion-title{
  text-align: center;
}

ion-button{
  color: black;
}


ion-label{
  color:blue;
}
ion-button{
  color:blue;
}



