<ion-header>
  <ion-toolbar>
    <ion-title>
      Bookings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-title>Pull To Refresh</ion-title>
    <ion-tabs>
        
        <ion-tab-bar slot="top">
          <ion-tab-button tab="tab1" style="border-right: 1px #000 solid;" >
            <ion-label>Completed</ion-label>
          </ion-tab-button>
          
          <ion-tab-button tab="tab2">
              <ion-label>Cancelled</ion-label>
            </ion-tab-button>
          </ion-tab-bar>
          </ion-tabs>
          

</ion-content>
 <ion-button shape="round" color="medium" fill="outline">Show Bookings</ion-button>

