<ion-header>
  <ion-toolbar>
      <ion-icon name="arrow-back"  (click)="onBack()"></ion-icon>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>

      <ion-item>
        <ion-label position="floating">Enter Registered Mobile Number</ion-label>
        <ion-input type='text' [(ngModel)]='customer.phone'> </ion-input>
      </ion-item>
      <ion-button color="success" shape="round" expand="full" (click)='reset(customer)'>Verify</ion-button><br>
      Dont have account ? <a (click)='register()'> Sign Up </a>
    </ion-card-content>
  </ion-card>
</ion-content>