<ion-header>
  <ion-toolbar>
    <ion-title>
      <h2>Connect With Us</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
    <ion-slides #mySlider (ionSlidesDidLoad)="slidesDidLoad(mySlider)" autoplay="5000" loop="true" speed="60000"
      pager="true">
      <ion-slide style="height:300px;" *ngFor="let banner of sliders">
        <img src={{banner.image}}>
      </ion-slide>
    </ion-slides>
  
  
  <ion-card>
      <a href="https://www.facebook.com/">
      <ion-icon name="logo-facebook" style="font-size:55px;color:blue"></ion-icon></a>
      <a href="https://www.youtube.com/"> 
      <ion-icon name="logo-youtube" style="font-size:50px;color:red"></ion-icon></a>
      <a href="https://twitter.com/"><i class="fa fa-twitter" style="margin-left:60px;font-size:50px;color:blue" aria-hidden="true"></i></a>
      <div padding>
      <ion-button size="large" shape="round" color="primary" (click)="onSignup()">SIGN UP</ion-button>
      <ion-button size="large" shape="round" color="success" (click)="onSignin()">SIGN IN</ion-button>
</div>
  </ion-card>
</ion-content>