ion-toolbar{
    --background :rgb(246, 250, 8);
}
ion-title{
  text-align: center;
  font-size: 20px;
}
ion-icon{
  margin :0 auto;
  margin-left: 50px;
  margin-top: 10px;
}
ion-button {
 text-align: center;

  margin-left: 25px;                                                                                                      
}
ion-content{
  margin:0 auto;
  top: 10%;
}


