
  ion-toolbar{
    --background :rgb(246, 250, 8);
}
ion-input{
  --placeholder-color:blue; 
  // --placeholder-font-weight:bold;
  
}

ion-button {
  margin-left: 80px;  
  width:50%;                                                                                                      
}


