<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-round-back" (click)="onBack()" style="font-size:28px;font-weight:bold;"></ion-icon>
        <ion-title>Booking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-img  src="{{movie.image_url}}"></ion-img><br>
      <ion-item>
        
          <ion-icon name="film"></ion-icon><ion-input [(ngModel)]="movie.name" readonly></ion-input>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
          <ion-label position="floating">No. Of Tickets</ion-label>
          <ion-input [(ngModel)]="data.tickets"></ion-input>
      </ion-item><br>
      <div padding>
      
      <ion-button color="success"  routerLink="/payment"  (click)="addBooking()">Book Ticket</ion-button>
    </div>
    </ion-card>
  </ion-content>
  


  