ion-toolbar{
  --background :rgb(246, 250, 8);
}
ion-title{
  text-align: center;
  font-size: 20px;
}
ion-button{
 text-align: center;
 width:40%;
  margin-left: 100px; 
}
@media (min-width: 240px) and (max-width: 768px) {

ion-col {
    border: none;
}
}

