<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="contact"></ion-icon> New User
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img style="height: 200px;" src='../../assets/h1.jpg'></ion-img>
  <div padding>
    <ion-item>
      <ion-label position="floating">Enter Name</ion-label>
      <ion-input type="text" [(ngModel)]="customer.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Enter password</ion-label>
      <ion-input type="password" [(ngModel)]="customer.password"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Enter Address</ion-label>
      <ion-input type="text" [(ngModel)]="customer.address"></ion-input>
    </ion-item>



    <ion-item>
      <ion-label position="floating">Enter Email</ion-label>
      <ion-input type="text" [(ngModel)]="customer.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Enter Mobile Number</ion-label>
      <ion-input type="text" [(ngModel)]="customer.phone"></ion-input>
    </ion-item>

  </div>
  <ion-button color="tertiary" (click)="onRegister(customer)">REGISTER</ion-button>

</ion-content>